# Backend API Base URL (e.g. https://room-booking-0akj.onrender.com or http://localhost:5000/api)
VITE_API_URL=https://room-booking-0akj.onrender.com

# Frontend Application URL (e.g. https://room-booking-1-llgo.onrender.com)
VITE_APP_URL=https://room-booking-1-llgo.onrender.com
